</div><!-- Wrap Div end -->

  <div class="foot-about">
    <ul>
      <li><%= link_to "HELP", "/" %></li>
      <li><%= link_to "ABOUT", "/" %></li>
      <li><a href="mailto:ndonias@gmail.com?" target="_top">CONTACT US</a></li>
    </ul>
  </div>

  <div class="social">
    <a href="#" class="social"><i class="fa fa-facebook"></i></a>
    <a href="#" class="social"><i class="fa fa-twitter"></i></a>
    <a href="#" class="social"><i class="fa fa-instagram"></i></a>
    <a href="#" class="social"><i class="fa fa-pinterest"></i></a>
  </div>

  <p class="copyright">&copy; 2015 Donias</p>

</div>
