<div class="row">
	<% @posts.last(6).reverse.each do |post| %>
		 <div class="col-xs-6 col-md-6 col-lg-4 list-blocks">
		 		<div class="thumbnail">
		 			<h3><%=post.title%></h3>
		 			<div class="index_image">
		 				<%= link_to image_tag(post.main_image (:medium)), post_path(post.id)%>
		 			</div>
		 		<div class="caption">
		 			<p><%= post.story %></p>
		 		</div>
		 		</div>
		 </div>
	<% end %>
</div>