<div class="main-content">
	<div class="container">
		<div class="about-text">
  			<h1>Inspired by Fitness with a Sweet Tooth</h1>
	    	<%=image_tag('apples.jpg') %>
	   		<p>My roommates and I always have a sweet tooth, but we also care about health and fitness. No longer do we have to feel guility for caving. We have built an online community were we can share how we statisfy that sweet tooth and be healthy at the same time. As we always say, summer is always around the corner. <br /></p>
	   	</div>
	</div>
</div>